[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Capstone project using machine learning to predict a company's stock price sometime in the future.
[access "refs/*"]
	owner = group user/luissson
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/luissson
	label-Verified = -1..+1 group user/luissson
	push = group user/luissson
	read = group user/luissson
	rebase = group user/luissson
	removeReviewer = group user/luissson
	submit = group user/luissson
[access "refs/heads/*"]
	create = group user/luissson
	push = +force group user/luissson
	pushMerge = group user/luissson
	read = group user/luissson
[access "refs/tags/*"]
	push = group user/luissson
	push = +force group user/luissson
